.pt-100 {
  padding-top: 100px;
}

.height-40 {
  height: 40px;
}

.height-100-percent {
  height: 100%;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.width-300 {
  width: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.width-284 {
  width: 284px;
}

.list-card-width {
  width: 300px;
  min-width: 300px;
}
